:root {
  --primary-custom: rgb(0 126 154);
  --secondary-custom: rgb(41 185 217);
}

.bg-primary-custom {
  background-color: var(--primary-custom) !important;
}

.text-primary-custom {
  color: var(--primary-custom) !important;
}

.bg-secondary-custom {
  background-color: var(--secondary-custom) !important;
}

.text-secondary-custom {
  color: var(--secondary-custom) !important;
}
